<section id="about" class="section">
  <div class="container">
    <header class="section-header mb-4 mb-lg-5">
      <div class="row align-items-center justify-content-center">
        
        <!-- Imagen -->
        <div class="col-12 col-lg-4 d-flex justify-content-center mb-4 mb-lg-0 reveal">
          <div class="about-photo ratio ratio-1x1 rounded-4 overflow-hidden border border-secondary border-opacity-25 shadow-lg w-100">
            <img
              src="./assets/images/edwinSWB.png"
              alt="Edwin Sánchez"
              class="object-fit-cover w-100 h-100"
            />
          </div>
        </div>

        <!-- Texto -->
        <div class="col-12 col-lg-6 text-center text-lg-start reveal">
          <h2 class="h1 fw-bold text-white letter-spacing-tight">Edwin Sánchez</h2>
          <p class="text-muted lead mb-4 mx-auto mx-lg-0" style="max-width: 40rem">
            Desarrollador Java con mentalidad de ingeniería de precisión. Especialista en optimizar arquitecturas backend, análisis de datos complejos y soluciones escalables con enfoque en eficiencia sistémica.
          </p>

          <!-- BOTONES -->
          <div class="d-flex gap-3 flex-wrap justify-content-center justify-content-lg-start">
            <a href="./docs/EdwinSánchez_CV_DJFS.pdf" class="btn btn-dark-primary col-5 col-lg-auto" target="_blank">
              <i class="bi bi-download"></i>
              CV
            </a>

            <a href="mailto:edwin.sanchez.aglr@gmail.com" class="btn btn-dark-primary col-5 col-lg-auto" target="_blank">
            <i class="bi bi-envelope"></i>
              Email
            </a>
            
            <a href="https://github.com/EdwinSanchezA720" class="btn btn-dark-primary col-5 col-lg-auto" target="_blank">
              <i class="devicon-github-original"></i>
              GitHub
            </a>

            <a href="https://www.linkedin.com/in/edwine-s%C3%A1ncheza/" class="btn btn-dark-primary col-5 col-lg-auto" target="_blank">
              <i class="devicon-linkedin-plain"></i>
              LinkedIn
            </a>

          </div>
        </div>

        <div>
          
        </div>

      </div>
    </header>
  </div>
</section>

